In [2]:
import pandas as pd
import numpy as np 
import matplotlib as ply

#read data and store data in dataframe titled sg_used_car 
sg_used_car= pd.read_csv('sg used car price.txt', sep=',',index_col=0)
sg_used_car

,LISTING_URL,BRAND,PRICE,DEPRE_VALUE_PER_YEAR,REG_DATE,MILEAGE_KM,MANUFACTURED_YEAR,ROAD_TAX_PER_YEAR,TRANSMISSION,DEREG_VALUE_FROM_SCRAPE_DATE,SCRAPE_DATE,OMV,ARF,COE_FROM_SCRAPE_DATE,DAYS_OF_COE_LEFT,ENGINE_CAPACITY_CC,CURB_WEIGHT_KG,NO_OF_OWNERS,VEHICLE_TYPE
0,https://www.sgcarmart.com/used_cars/info.php?I...,Honda,58800.0,5880.0,24-Oct-2009,81000.0,2008,978.0,Auto,NaN,23/10/2019,28040.0,28040.0,NaN,0.0,1799,1219.0,1.0,Mid-Sized Sedan
1,https://www.sgcarmart.com/used_cars/info.php?I...,Honda,62800.0,6270.0,10-Nov-2009,106087.0,2009,1628.0,Auto,NaN,23/10/2019,33532.0,33532.0,NaN,0.0,2354,1680.0,3.0,MPV
2,https://www.sgcarmart.com/used_cars/info.php?I...,Austin,30000.0,16950.0,28-Sep-1972,NaN,1972,NaN,Manual,834.0,23/10/2019,NaN,NaN,4711.0,642.0,998,NaN,NaN,Others
3,https://www.sgcarmart.com/used_cars/info.php?I...,Audi,70800.0,16580.0,05-Dec-2011,140800.0,2011,2380.0,Auto,58899.0,23/10/2019,71379.0,71379.0,75889.0,761.0,2995,2250.0,3.0,SUV
4,https://www.sgcarmart.com/used_cars/info.php?I...,Toyota,65800.0,6850.0,26-Jun-2009,117000.0,2009,974.0,Auto,38024.0,23/10/2019,23465.0,23465.0,39563.0,3503.0,1797,1350.0,2.0,MPV
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3982,https://www.sgcarmart.com/used_cars/info.php?I...,Toyota,104500.0,16550.0,02-Jun-2014,47638.0,2014,3100.0,Auto,78422.0,23/10/2019,45977.0,56368.0,84504.0,1679.0,3456,2030.0,2.0,MPV
3983,https://www.sgcarmart.com/used_cars/info.php?I...,Mercedes-Benz,115000.0,15260.0,11-Mar-2015,51500.0,2012,974.0,Auto,85824.0,23/10/2019,52051.0,65692.0,67901.0,1950.0,1796,1600.0,2.0,Sports Car
3984,https://www.sgcarmart.com/used_cars/info.php?I...,MINI,119800.0,13150.0,07-Jun-2017,16000.0,2017,1210.0,Auto,69888.0,23/10/2019,33570.0,38998.0,53300.0,2769.0,1998,1390.0,1.0,Sports Car
3985,https://www.sgcarmart.com/used_cars/info.php?I...,Nissan,81800.0,9900.0,05-Aug-2016,53339.0,2015,1786.0,Auto,60983.0,23/10/2019,26629.0,29281.0,57501.0,2462.0,2488,1510.0,1.0,Luxury Sedan
3986,https://www.sgcarmart.com/used_cars/info.php?I...,Lexus,113668.0,16140.0,25-May-2015,16687.0,2015,NaN,Auto,78749.0,23/10/2019,49907.0,46870.0,78004.0,2036.0,2494,1635.0,1.0,Luxury Sedan

In [6]:
 sg_used_car.to_csv('Used car price.csv', encoding='utf-8', index=False)

In [129]:
#print shape of the data 
sg_used_car.shape

(3987, 19)

In [6]:
#Summary of the sg used car price data 
sg_used_car.describe()

,PRICE,DEPRE_VALUE_PER_YEAR,MILEAGE_KM,ROAD_TAX_PER_YEAR,DEREG_VALUE_FROM_SCRAPE_DATE,OMV,ARF,COE_FROM_SCRAPE_DATE,DAYS_OF_COE_LEFT,ENGINE_CAPACITY_CC,CURB_WEIGHT_KG,NO_OF_OWNERS
count,3962.000000,3876.000000,3338.000000,3833.000000,3221.000000,3963.000000,3957.000000,3236.000000,3963.000000,3987.000000,3859.000000,3925.000000
mean,83201.312973,11407.925697,71870.671061,1161.109053,50947.490531,33822.094625,35356.628506,48309.075711,1943.007822,1886.066466,1432.756154,1.807643
std,73444.057027,9294.521774,44779.839099,897.455742,34418.521219,34394.898529,43257.325396,17093.072453,1002.474719,666.258555,257.023124,1.089259
min,1190.000000,1730.000000,3.000000,50.000000,34.000000,1800.000000,1316.000000,2989.000000,0.000000,647.000000,795.000000,1.000000
25%,46350.000000,7387.500000,37204.000000,684.000000,34674.000000,18131.500000,14570.000000,37502.000000,1465.000000,1498.000000,1249.000000,1.000000
50%,67800.000000,9230.000000,65000.000000,750.000000,45855.000000,25050.000000,22642.000000,49998.000000,2070.000000,1598.000000,1395.000000,1.000000
75%,93800.000000,12690.000000,105000.000000,1210.000000,59055.000000,36973.000000,39195.000000,57498.000000,2679.000000,1997.000000,1602.500000,2.000000
max,938000.000000,131070.000000,330000.000000,11550.000000,423396.000000,487275.000000,536003.000000,97889.000000,3563.000000,6749.000000,2745.000000,6.000000

# Part 1: DataFrame Cleaning, analysis, conversion

# Part 1: DataFrame Cleaning, analysis

In [104]:
#Columns name 
sg_used_car.columns

Index(['LISTING_URL', 'BRAND', 'PRICE', 'DEPRE_VALUE_PER_YEAR', 'REG_DATE',
       'MILEAGE_KM', 'MANUFACTURED_YEAR', 'ROAD_TAX_PER_YEAR', 'TRANSMISSION',
       'DEREG_VALUE_FROM_SCRAPE_DATE', 'SCRAPE_DATE', 'OMV', 'ARF',
       'COE_FROM_SCRAPE_DATE', 'DAYS_OF_COE_LEFT', 'ENGINE_CAPACITY_CC',
       'CURB_WEIGHT_KG', 'NO_OF_OWNERS', 'VEHICLE_TYPE'],
      dtype='object')

In [105]:
#Dropping two columns Listing URL and Scrape date which is not relevant as one of the features 
#NOTE: scrape date will be used to caclulate to calculate the age of car
sg_clean=sg_used_car.drop(['LISTING_URL', 'SCRAPE_DATE'],axis=1)
sg_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3987 entries, 0 to 3986
Data columns (total 17 columns):
BRAND                           3987 non-null object
PRICE                           3962 non-null float64
DEPRE_VALUE_PER_YEAR            3876 non-null float64
REG_DATE                        3987 non-null object
MILEAGE_KM                      3338 non-null float64
MANUFACTURED_YEAR               3987 non-null object
ROAD_TAX_PER_YEAR               3833 non-null float64
TRANSMISSION                    3987 non-null object
DEREG_VALUE_FROM_SCRAPE_DATE    3221 non-null float64
OMV                             3963 non-null float64
ARF                             3957 non-null float64
COE_FROM_SCRAPE_DATE            3236 non-null float64
DAYS_OF_COE_LEFT                3963 non-null float64
ENGINE_CAPACITY_CC              3987 non-null int64
CURB_WEIGHT_KG                  3859 non-null float64
NO_OF_OWNERS                    3925 non-null float64
VEHICLE_TYPE                    3987 non-null object
dtypes: float64(11), int64(1), object(5)
memory usage: 560.7+ KB

In [106]:
#Count the number of NA value in an entire DataFrame 
sg_clean.isna().sum().sum()
#There are NA values in this dataset
#There is a need to drop these NA values to prevent problems for the Machine Leanring model later on

2724

In [107]:
#drop NA values 
sg_clean.dropna(inplace=True)
sg_clean.info() 
#We have now 17 features in our columns

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2584 entries, 3 to 3985
Data columns (total 17 columns):
BRAND                           2584 non-null object
PRICE                           2584 non-null float64
DEPRE_VALUE_PER_YEAR            2584 non-null float64
REG_DATE                        2584 non-null object
MILEAGE_KM                      2584 non-null float64
MANUFACTURED_YEAR               2584 non-null object
ROAD_TAX_PER_YEAR               2584 non-null float64
TRANSMISSION                    2584 non-null object
DEREG_VALUE_FROM_SCRAPE_DATE    2584 non-null float64
OMV                             2584 non-null float64
ARF                             2584 non-null float64
COE_FROM_SCRAPE_DATE            2584 non-null float64
DAYS_OF_COE_LEFT                2584 non-null float64
ENGINE_CAPACITY_CC              2584 non-null int64
CURB_WEIGHT_KG                  2584 non-null float64
NO_OF_OWNERS                    2584 non-null float64
VEHICLE_TYPE                    2584 non-null object
dtypes: float64(11), int64(1), object(5)
memory usage: 363.4+ KB

In [108]:
#Removing whitespace from Vehicle Type 
sg_clean['VEHICLE_TYPE'].apply(str.strip)
sg_clean['VEHICLE_TYPE'].apply(str.lstrip)

sg_clean

,BRAND,PRICE,DEPRE_VALUE_PER_YEAR,REG_DATE,MILEAGE_KM,MANUFACTURED_YEAR,ROAD_TAX_PER_YEAR,TRANSMISSION,DEREG_VALUE_FROM_SCRAPE_DATE,OMV,ARF,COE_FROM_SCRAPE_DATE,DAYS_OF_COE_LEFT,ENGINE_CAPACITY_CC,CURB_WEIGHT_KG,NO_OF_OWNERS,VEHICLE_TYPE
3,Audi,70800.0,16580.0,05-Dec-2011,140800.0,2011,2380.0,Auto,58899.0,71379.0,71379.0,75889.0,761.0,2995,2250.0,3.0,SUV
4,Toyota,65800.0,6850.0,26-Jun-2009,117000.0,2009,974.0,Auto,38024.0,23465.0,23465.0,39563.0,3503.0,1797,1350.0,2.0,MPV
5,Mercedes-Benz,45000.0,18550.0,21-Sep-2010,126000.0,2010,974.0,Auto,31818.0,56154.0,56154.0,41006.0,8.0,1796,1650.0,4.0,Luxury Sedan
7,BMW,70800.0,12680.0,23-Apr-2014,41000.0,2013,742.0,Auto,54685.0,32459.0,27443.0,78810.0,1610.0,1598,1405.0,2.0,Luxury Sedan
9,Audi,89500.0,11910.0,25-Nov-2015,57784.0,2015,624.0,Auto,62640.0,29913.0,33879.0,61103.0,2221.0,1395,1480.0,2.0,SUV
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3981,Mercedes-Benz,103800.0,13470.0,18-Jul-2016,19000.0,2016,740.0,Auto,55704.0,27886.0,26041.0,53694.0,2434.0,1595,1430.0,1.0,Luxury Sedan
3982,Toyota,104500.0,16550.0,02-Jun-2014,47638.0,2014,3100.0,Auto,78422.0,45977.0,56368.0,84504.0,1679.0,3456,2030.0,2.0,MPV
3983,Mercedes-Benz,115000.0,15260.0,11-Mar-2015,51500.0,2012,974.0,Auto,85824.0,52051.0,65692.0,67901.0,1950.0,1796,1600.0,2.0,Sports Car
3984,MINI,119800.0,13150.0,07-Jun-2017,16000.0,2017,1210.0,Auto,69888.0,33570.0,38998.0,53300.0,2769.0,1998,1390.0,1.0,Sports Car
3985,Nissan,81800.0,9900.0,05-Aug-2016,53339.0,2015,1786.0,Auto,60983.0,26629.0,29281.0,57501.0,2462.0,2488,1510.0,1.0,Luxury Sedan

In [109]:
#Removing whitespace from Brand 
sg_clean['BRAND'].apply(str.strip)

sg_clean

,BRAND,PRICE,DEPRE_VALUE_PER_YEAR,REG_DATE,MILEAGE_KM,MANUFACTURED_YEAR,ROAD_TAX_PER_YEAR,TRANSMISSION,DEREG_VALUE_FROM_SCRAPE_DATE,OMV,ARF,COE_FROM_SCRAPE_DATE,DAYS_OF_COE_LEFT,ENGINE_CAPACITY_CC,CURB_WEIGHT_KG,NO_OF_OWNERS,VEHICLE_TYPE
3,Audi,70800.0,16580.0,05-Dec-2011,140800.0,2011,2380.0,Auto,58899.0,71379.0,71379.0,75889.0,761.0,2995,2250.0,3.0,SUV
4,Toyota,65800.0,6850.0,26-Jun-2009,117000.0,2009,974.0,Auto,38024.0,23465.0,23465.0,39563.0,3503.0,1797,1350.0,2.0,MPV
5,Mercedes-Benz,45000.0,18550.0,21-Sep-2010,126000.0,2010,974.0,Auto,31818.0,56154.0,56154.0,41006.0,8.0,1796,1650.0,4.0,Luxury Sedan
7,BMW,70800.0,12680.0,23-Apr-2014,41000.0,2013,742.0,Auto,54685.0,32459.0,27443.0,78810.0,1610.0,1598,1405.0,2.0,Luxury Sedan
9,Audi,89500.0,11910.0,25-Nov-2015,57784.0,2015,624.0,Auto,62640.0,29913.0,33879.0,61103.0,2221.0,1395,1480.0,2.0,SUV
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3981,Mercedes-Benz,103800.0,13470.0,18-Jul-2016,19000.0,2016,740.0,Auto,55704.0,27886.0,26041.0,53694.0,2434.0,1595,1430.0,1.0,Luxury Sedan
3982,Toyota,104500.0,16550.0,02-Jun-2014,47638.0,2014,3100.0,Auto,78422.0,45977.0,56368.0,84504.0,1679.0,3456,2030.0,2.0,MPV
3983,Mercedes-Benz,115000.0,15260.0,11-Mar-2015,51500.0,2012,974.0,Auto,85824.0,52051.0,65692.0,67901.0,1950.0,1796,1600.0,2.0,Sports Car
3984,MINI,119800.0,13150.0,07-Jun-2017,16000.0,2017,1210.0,Auto,69888.0,33570.0,38998.0,53300.0,2769.0,1998,1390.0,1.0,Sports Car
3985,Nissan,81800.0,9900.0,05-Aug-2016,53339.0,2015,1786.0,Auto,60983.0,26629.0,29281.0,57501.0,2462.0,2488,1510.0,1.0,Luxury Sedan

In [110]:
#Renaming Brands of Cars 
sg_clean.loc[sg_clean['BRAND'] == 'Aston','BRAND'] = 'Aston Martin'
sg_clean.loc[sg_clean['BRAND'] == 'Land','BRAND'] = 'Land Rover'
sg_clean.loc[sg_clean['BRAND'] == 'Alfa', 'BRAND'] = 'Alfa Romeo'

sg_clean

,BRAND,PRICE,DEPRE_VALUE_PER_YEAR,REG_DATE,MILEAGE_KM,MANUFACTURED_YEAR,ROAD_TAX_PER_YEAR,TRANSMISSION,DEREG_VALUE_FROM_SCRAPE_DATE,OMV,ARF,COE_FROM_SCRAPE_DATE,DAYS_OF_COE_LEFT,ENGINE_CAPACITY_CC,CURB_WEIGHT_KG,NO_OF_OWNERS,VEHICLE_TYPE
3,Audi,70800.0,16580.0,05-Dec-2011,140800.0,2011,2380.0,Auto,58899.0,71379.0,71379.0,75889.0,761.0,2995,2250.0,3.0,SUV
4,Toyota,65800.0,6850.0,26-Jun-2009,117000.0,2009,974.0,Auto,38024.0,23465.0,23465.0,39563.0,3503.0,1797,1350.0,2.0,MPV
5,Mercedes-Benz,45000.0,18550.0,21-Sep-2010,126000.0,2010,974.0,Auto,31818.0,56154.0,56154.0,41006.0,8.0,1796,1650.0,4.0,Luxury Sedan
7,BMW,70800.0,12680.0,23-Apr-2014,41000.0,2013,742.0,Auto,54685.0,32459.0,27443.0,78810.0,1610.0,1598,1405.0,2.0,Luxury Sedan
9,Audi,89500.0,11910.0,25-Nov-2015,57784.0,2015,624.0,Auto,62640.0,29913.0,33879.0,61103.0,2221.0,1395,1480.0,2.0,SUV
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3981,Mercedes-Benz,103800.0,13470.0,18-Jul-2016,19000.0,2016,740.0,Auto,55704.0,27886.0,26041.0,53694.0,2434.0,1595,1430.0,1.0,Luxury Sedan
3982,Toyota,104500.0,16550.0,02-Jun-2014,47638.0,2014,3100.0,Auto,78422.0,45977.0,56368.0,84504.0,1679.0,3456,2030.0,2.0,MPV
3983,Mercedes-Benz,115000.0,15260.0,11-Mar-2015,51500.0,2012,974.0,Auto,85824.0,52051.0,65692.0,67901.0,1950.0,1796,1600.0,2.0,Sports Car
3984,MINI,119800.0,13150.0,07-Jun-2017,16000.0,2017,1210.0,Auto,69888.0,33570.0,38998.0,53300.0,2769.0,1998,1390.0,1.0,Sports Car
3985,Nissan,81800.0,9900.0,05-Aug-2016,53339.0,2015,1786.0,Auto,60983.0,26629.0,29281.0,57501.0,2462.0,2488,1510.0,1.0,Luxury Sedan

In [123]:
#Date time conversion 

#change registration date to datetime and manufactured year to int 

sg_clean['MANUFACTURED_YEAR'] = sg_clean['MANUFACTURED_YEAR'].astype(int)
sg_clean['REG_DATE'] = pd.to_datetime(sg_clean['REG_DATE'])
sg_clean

,BRAND,PRICE,DEPRE_VALUE_PER_YEAR,REG_DATE,MILEAGE_KM,MANUFACTURED_YEAR,ROAD_TAX_PER_YEAR,TRANSMISSION,DEREG_VALUE_FROM_SCRAPE_DATE,OMV,ARF,COE_FROM_SCRAPE_DATE,DAYS_OF_COE_LEFT,ENGINE_CAPACITY_CC,CURB_WEIGHT_KG,NO_OF_OWNERS,VEHICLE_TYPE,CAR_AGE
3,Audi,70800.0,16580.0,2011-12-05,140800.0,2011,2380.0,Auto,58899.0,71379.0,71379.0,75889.0,761.0,2995,2250.0,3.0,SUV,-41.0
4,Toyota,65800.0,6850.0,2009-06-26,117000.0,2009,974.0,Auto,38024.0,23465.0,23465.0,39563.0,3503.0,1797,1350.0,2.0,MPV,-39.0
5,Mercedes-Benz,45000.0,18550.0,2010-09-21,126000.0,2010,974.0,Auto,31818.0,56154.0,56154.0,41006.0,8.0,1796,1650.0,4.0,Luxury Sedan,-40.0
7,BMW,70800.0,12680.0,2014-04-23,41000.0,2013,742.0,Auto,54685.0,32459.0,27443.0,78810.0,1610.0,1598,1405.0,2.0,Luxury Sedan,-43.0
9,Audi,89500.0,11910.0,2015-11-25,57784.0,2015,624.0,Auto,62640.0,29913.0,33879.0,61103.0,2221.0,1395,1480.0,2.0,SUV,-45.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3981,Mercedes-Benz,103800.0,13470.0,2016-07-18,19000.0,2016,740.0,Auto,55704.0,27886.0,26041.0,53694.0,2434.0,1595,1430.0,1.0,Luxury Sedan,-46.0
3982,Toyota,104500.0,16550.0,2014-06-02,47638.0,2014,3100.0,Auto,78422.0,45977.0,56368.0,84504.0,1679.0,3456,2030.0,2.0,MPV,-44.0
3983,Mercedes-Benz,115000.0,15260.0,2015-03-11,51500.0,2012,974.0,Auto,85824.0,52051.0,65692.0,67901.0,1950.0,1796,1600.0,2.0,Sports Car,-42.0
3984,MINI,119800.0,13150.0,2017-06-07,16000.0,2017,1210.0,Auto,69888.0,33570.0,38998.0,53300.0,2769.0,1998,1390.0,1.0,Sports Car,-47.0
3985,Nissan,81800.0,9900.0,2016-08-05,53339.0,2015,1786.0,Auto,60983.0,26629.0,29281.0,57501.0,2462.0,2488,1510.0,1.0,Luxury Sedan,-45.0

In [131]:
#changing the Scrape date to just a year 

sg_used_car['SCRAPE_DATE']= pd.to_datetime(sg_used_car['SCRAPE_DATE']).dt.year

#checking dtype 
sg_used_car['SCRAPE_DATE']

0       2019
1       2019
2       2019
3       2019
4       2019
        ...
3982    2019
3983    2019
3984    2019
3985    2019
3986    2019
Name: SCRAPE_DATE, Length: 3987, dtype: int64

## 1.2 Adding a Car Age column 

More intuitive to understand and know how old a car is rather than just its manufatured date

In [134]:
sg_clean['CAR_AGE'] = sg_used_car['SCRAPE_DATE'] - sg_clean['MANUFACTURED_YEAR'] # Obtaining values for age of car
sg_clean['CAR_AGE'].astype(int)

sg_clean

,BRAND,PRICE,DEPRE_VALUE_PER_YEAR,REG_DATE,MILEAGE_KM,MANUFACTURED_YEAR,ROAD_TAX_PER_YEAR,TRANSMISSION,DEREG_VALUE_FROM_SCRAPE_DATE,OMV,ARF,COE_FROM_SCRAPE_DATE,DAYS_OF_COE_LEFT,ENGINE_CAPACITY_CC,CURB_WEIGHT_KG,NO_OF_OWNERS,VEHICLE_TYPE,CAR_AGE
3,Audi,70800.0,16580.0,2011-12-05,140800.0,2011,2380.0,Auto,58899.0,71379.0,71379.0,75889.0,761.0,2995,2250.0,3.0,SUV,8.0
4,Toyota,65800.0,6850.0,2009-06-26,117000.0,2009,974.0,Auto,38024.0,23465.0,23465.0,39563.0,3503.0,1797,1350.0,2.0,MPV,10.0
5,Mercedes-Benz,45000.0,18550.0,2010-09-21,126000.0,2010,974.0,Auto,31818.0,56154.0,56154.0,41006.0,8.0,1796,1650.0,4.0,Luxury Sedan,9.0
7,BMW,70800.0,12680.0,2014-04-23,41000.0,2013,742.0,Auto,54685.0,32459.0,27443.0,78810.0,1610.0,1598,1405.0,2.0,Luxury Sedan,6.0
9,Audi,89500.0,11910.0,2015-11-25,57784.0,2015,624.0,Auto,62640.0,29913.0,33879.0,61103.0,2221.0,1395,1480.0,2.0,SUV,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3981,Mercedes-Benz,103800.0,13470.0,2016-07-18,19000.0,2016,740.0,Auto,55704.0,27886.0,26041.0,53694.0,2434.0,1595,1430.0,1.0,Luxury Sedan,3.0
3982,Toyota,104500.0,16550.0,2014-06-02,47638.0,2014,3100.0,Auto,78422.0,45977.0,56368.0,84504.0,1679.0,3456,2030.0,2.0,MPV,5.0
3983,Mercedes-Benz,115000.0,15260.0,2015-03-11,51500.0,2012,974.0,Auto,85824.0,52051.0,65692.0,67901.0,1950.0,1796,1600.0,2.0,Sports Car,7.0
3984,MINI,119800.0,13150.0,2017-06-07,16000.0,2017,1210.0,Auto,69888.0,33570.0,38998.0,53300.0,2769.0,1998,1390.0,1.0,Sports Car,2.0
3985,Nissan,81800.0,9900.0,2016-08-05,53339.0,2015,1786.0,Auto,60983.0,26629.0,29281.0,57501.0,2462.0,2488,1510.0,1.0,Luxury Sedan,4.0

In [138]:
#Rearranging columns

sg_clean2=sg_clean[['BRAND', 'PRICE', 'DEPRE_VALUE_PER_YEAR', 'MILEAGE_KM', 'COE_FROM_SCRAPE_DATE', 'DAYS_OF_COE_LEFT', 
                    'REG_DATE', 'MANUFACTURED_YEAR', 'CAR_AGE', 'DEREG_VALUE_FROM_SCRAPE_DATE', 'OMV', 'ARF', 
                    'ENGINE_CAPACITY_CC', 'ROAD_TAX_PER_YEAR', 'CURB_WEIGHT_KG',
                    'NO_OF_OWNERS', 'VEHICLE_TYPE', 'TRANSMISSION']]
sg_clean2

,BRAND,PRICE,DEPRE_VALUE_PER_YEAR,MILEAGE_KM,COE_FROM_SCRAPE_DATE,DAYS_OF_COE_LEFT,REG_DATE,MANUFACTURED_YEAR,CAR_AGE,DEREG_VALUE_FROM_SCRAPE_DATE,OMV,ARF,ENGINE_CAPACITY_CC,ROAD_TAX_PER_YEAR,CURB_WEIGHT_KG,NO_OF_OWNERS,VEHICLE_TYPE,TRANSMISSION
3,Audi,70800.0,16580.0,140800.0,75889.0,761.0,2011-12-05,2011,8.0,58899.0,71379.0,71379.0,2995,2380.0,2250.0,3.0,SUV,Auto
4,Toyota,65800.0,6850.0,117000.0,39563.0,3503.0,2009-06-26,2009,10.0,38024.0,23465.0,23465.0,1797,974.0,1350.0,2.0,MPV,Auto
5,Mercedes-Benz,45000.0,18550.0,126000.0,41006.0,8.0,2010-09-21,2010,9.0,31818.0,56154.0,56154.0,1796,974.0,1650.0,4.0,Luxury Sedan,Auto
7,BMW,70800.0,12680.0,41000.0,78810.0,1610.0,2014-04-23,2013,6.0,54685.0,32459.0,27443.0,1598,742.0,1405.0,2.0,Luxury Sedan,Auto
9,Audi,89500.0,11910.0,57784.0,61103.0,2221.0,2015-11-25,2015,4.0,62640.0,29913.0,33879.0,1395,624.0,1480.0,2.0,SUV,Auto
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3981,Mercedes-Benz,103800.0,13470.0,19000.0,53694.0,2434.0,2016-07-18,2016,3.0,55704.0,27886.0,26041.0,1595,740.0,1430.0,1.0,Luxury Sedan,Auto
3982,Toyota,104500.0,16550.0,47638.0,84504.0,1679.0,2014-06-02,2014,5.0,78422.0,45977.0,56368.0,3456,3100.0,2030.0,2.0,MPV,Auto
3983,Mercedes-Benz,115000.0,15260.0,51500.0,67901.0,1950.0,2015-03-11,2012,7.0,85824.0,52051.0,65692.0,1796,974.0,1600.0,2.0,Sports Car,Auto
3984,MINI,119800.0,13150.0,16000.0,53300.0,2769.0,2017-06-07,2017,2.0,69888.0,33570.0,38998.0,1998,1210.0,1390.0,1.0,Sports Car,Auto
3985,Nissan,81800.0,9900.0,53339.0,57501.0,2462.0,2016-08-05,2015,4.0,60983.0,26629.0,29281.0,2488,1786.0,1510.0,1.0,Luxury Sedan,Auto

# Part 2: Categorizing of Data

In [140]:
#Transmission: Auto and Manual, can do 1-hot encoding
#One hot encoding is a process by which categorical variables are converted into a form that could be provided 
#to ML algorithms to do a better job in prediction.

sg_clean2['TRANSMISSION'].value_counts()

Auto      2547
Manual      37
Name: TRANSMISSION, dtype: int64

In [141]:
#Convert Auto -> 0, Manual -> 1 
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

le = LabelEncoder()
sg_clean2['TRANSMISSION'] = le.fit_transform(sg_clean2['TRANSMISSION'])
print(le.classes_)
sg_clean2.info()
sg_clean2.sample(10)

['Auto' 'Manual']
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2584 entries, 3 to 3985
Data columns (total 18 columns):
BRAND                           2584 non-null object
PRICE                           2584 non-null float64
DEPRE_VALUE_PER_YEAR            2584 non-null float64
MILEAGE_KM                      2584 non-null float64
COE_FROM_SCRAPE_DATE            2584 non-null float64
DAYS_OF_COE_LEFT                2584 non-null float64
REG_DATE                        2584 non-null datetime64[ns]
MANUFACTURED_YEAR               2584 non-null int32
CAR_AGE                         2584 non-null float64
DEREG_VALUE_FROM_SCRAPE_DATE    2584 non-null float64
OMV                             2584 non-null float64
ARF                             2584 non-null float64
ENGINE_CAPACITY_CC              2584 non-null int64
ROAD_TAX_PER_YEAR               2584 non-null float64
CURB_WEIGHT_KG                  2584 non-null float64
NO_OF_OWNERS                    2584 non-null float64
VEHICLE_TYPE                    2584 non-null object
TRANSMISSION                    2584 non-null int32
dtypes: datetime64[ns](1), float64(12), int32(2), int64(1), object(2)
memory usage: 443.4+ KB

,BRAND,PRICE,DEPRE_VALUE_PER_YEAR,MILEAGE_KM,COE_FROM_SCRAPE_DATE,DAYS_OF_COE_LEFT,REG_DATE,MANUFACTURED_YEAR,CAR_AGE,DEREG_VALUE_FROM_SCRAPE_DATE,OMV,ARF,ENGINE_CAPACITY_CC,ROAD_TAX_PER_YEAR,CURB_WEIGHT_KG,NO_OF_OWNERS,VEHICLE_TYPE,TRANSMISSION
2174,Mercedes-Benz,152800.0,15520.0,6144.0,42661.0,3041.0,2018-03-06,2017,2.0,70004.0,38367.0,45714.0,1595,740.0,1505.0,1.0,Sports Car,0
2425,Mercedes-Benz,71999.0,11490.0,82000.0,76612.0,1978.0,2015-04-16,2014,5.0,55503.0,25717.0,18004.0,1595,740.0,1420.0,2.0,Hatchback,0
2791,Toyota,109800.0,14100.0,64105.0,47000.0,2340.0,2016-04-13,2015,4.0,58190.0,32155.0,37017.0,2362,1638.0,1790.0,1.0,Mid-Sized Sedan,0
877,Toyota,169988.0,15600.0,75.0,33689.0,3409.0,2019-03-20,2018,1.0,66525.0,38876.0,46427.0,2493,1792.0,1940.0,1.0,MPV,0
3113,Volkswagen,44800.0,12710.0,160000.0,92100.0,1163.0,2013-01-21,2012,7.0,34498.0,22073.0,7073.0,1395,624.0,1249.0,1.0,Hatchback,0
1193,Mercedes-Benz,120800.0,12290.0,25000.0,36890.0,3100.0,2018-04-24,2018,1.0,55766.0,28937.0,32512.0,1595,740.0,1435.0,1.0,SUV,0
716,BMW,298000.0,26950.0,11000.0,33420.0,2920.0,2018-09-03,2018,1.0,118108.0,81088.0,117959.0,2998,2384.0,1835.0,1.0,Luxury Sedan,0
804,BMW,29800.0,12250.0,132000.0,40002.0,400.0,2010-11-29,2010,9.0,22341.0,32610.0,32610.0,2996,2382.0,1430.0,4.0,Sports Car,0
2385,BMW,142800.0,12360.0,528.0,40002.0,3291.0,2019-08-30,2019,0.0,70945.0,35726.0,42017.0,1499,684.0,1430.0,1.0,SUV,0
3266,Toyota,93988.0,11460.0,43000.0,57508.0,2465.0,2016-07-29,2015,4.0,63533.0,32730.0,32822.0,1986,1196.0,1610.0,1.0,SUV,0

## Part 2.1 Car Brand Categorization 
There are 7 classes for Vehicle Type, namely Mid-Sized Sedan, Luxury Sedan, Hatchback, MPV, SUV, Sports Car, Stationwagon. Each vehicle is assigned only one Vehicle Type. This classification can be vague because premium and mass-market brands produce vehicles in all of these segments. For instance, a Toyota Camry, a BMW and a Rolls-Royce Ghost are all classified under Luxury Sedan as per sgcarmartâ€™s definition. Vehicle Type is a poor way to segment the vehicles. 

Instead use Brand as the categorization instead as it tells alot on the level of prestige and perceived desirability of a vehicle. Example, hear someone driving a Mercedes, first thought is this car is prestigous' Thus make sense to categorize the Vehicles into their respective brands 

Cars are split into 6 segments are Exotic, Ultra Luxury, Luxury, Mid Level, Economy and Budget.

The proposed segments and their respective makes are as follows:

Exotic: Aston Martin, Ferrari, Lamborghini, McLaren

Ultra Luxury: Bentley, Land Rover, Maserati, Porsche, Rolls-Royce

Luxury: Audi, BMW, Jaguar, Jeep, Lexus, Lotus, Mercedes-Benz, Mitsuoka, Volvo

Mid Level: Alfa Romeo, Chrysler, Infiniti, MINI, Opel, Saab, Volkswagen

Economy: Chevrolet, Citroen, Fiat, Ford, Honda, Hyundai, Kia, Mazda, Mitsubishi, Nissan, Peugeot, Renault, Skoda, Ssangyong, 

Subaru, Suzuki, Toyota

Budget: Daihatsu, Proton

In [142]:
print(sg_clean2['BRAND'].value_counts())
print(len(sg_clean2['BRAND'].value_counts()))

Toyota           405
Mercedes-Benz    374
Honda            309
BMW              286
Mazda            139
Nissan           127
Audi             127
Volkswagen       107
Kia               78
Hyundai           77
Volvo             63
Mitsubishi        58
Subaru            56
Porsche           51
Lexus             49
MINI              40
Suzuki            33
Jaguar            22
Citroen           22
Renault           19
Chevrolet         19
Maserati          18
Land Rover        16
Ford              14
Infiniti          14
Peugeot           13
Ferrari           11
Lamborghini        6
Bentley            6
McLaren            5
Opel               4
Jeep               3
Skoda              3
Rolls-Royce        2
Proton             1
Hummer             1
Lotus              1
Daihatsu           1
Aston Martin       1
Alfa Romeo         1
Fiat               1
Ssangyong          1
Name: BRAND, dtype: int64
42

In [143]:
#Creating the columns for categorizing brand cars 
sg_clean2['EXOTIC'] = 0 # 
sg_clean2["ULTRA_LUXURY"] = 0
sg_clean2["LUXURY"] = 0
sg_clean2["MID_LEVEL"] = 0
sg_clean2["ECONOMY"] = 0
sg_clean2['Budget']=0
sg_clean2

,BRAND,PRICE,DEPRE_VALUE_PER_YEAR,MILEAGE_KM,COE_FROM_SCRAPE_DATE,DAYS_OF_COE_LEFT,REG_DATE,MANUFACTURED_YEAR,CAR_AGE,DEREG_VALUE_FROM_SCRAPE_DATE,...,CURB_WEIGHT_KG,NO_OF_OWNERS,VEHICLE_TYPE,TRANSMISSION,EXOTIC,ULTRA_LUXURY,LUXURY,MID_LEVEL,ECONOMY,Budget
3,Audi,70800.0,16580.0,140800.0,75889.0,761.0,2011-12-05,2011,8.0,58899.0,...,2250.0,3.0,SUV,0,0,0,0,0,0,0
4,Toyota,65800.0,6850.0,117000.0,39563.0,3503.0,2009-06-26,2009,10.0,38024.0,...,1350.0,2.0,MPV,0,0,0,0,0,0,0
5,Mercedes-Benz,45000.0,18550.0,126000.0,41006.0,8.0,2010-09-21,2010,9.0,31818.0,...,1650.0,4.0,Luxury Sedan,0,0,0,0,0,0,0
7,BMW,70800.0,12680.0,41000.0,78810.0,1610.0,2014-04-23,2013,6.0,54685.0,...,1405.0,2.0,Luxury Sedan,0,0,0,0,0,0,0
9,Audi,89500.0,11910.0,57784.0,61103.0,2221.0,2015-11-25,2015,4.0,62640.0,...,1480.0,2.0,SUV,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3981,Mercedes-Benz,103800.0,13470.0,19000.0,53694.0,2434.0,2016-07-18,2016,3.0,55704.0,...,1430.0,1.0,Luxury Sedan,0,0,0,0,0,0,0
3982,Toyota,104500.0,16550.0,47638.0,84504.0,1679.0,2014-06-02,2014,5.0,78422.0,...,2030.0,2.0,MPV,0,0,0,0,0,0,0
3983,Mercedes-Benz,115000.0,15260.0,51500.0,67901.0,1950.0,2015-03-11,2012,7.0,85824.0,...,1600.0,2.0,Sports Car,0,0,0,0,0,0,0
3984,MINI,119800.0,13150.0,16000.0,53300.0,2769.0,2017-06-07,2017,2.0,69888.0,...,1390.0,1.0,Sports Car,0,0,0,0,0,0,0
3985,Nissan,81800.0,9900.0,53339.0,57501.0,2462.0,2016-08-05,2015,4.0,60983.0,...,1510.0,1.0,Luxury Sedan,0,0,0,0,0,0,0

In [144]:
#Labeling Car Brands into exotic 
sg_clean2.loc[(sg_clean2['BRAND'] == "Aston Martin") | 
              (sg_clean2['BRAND'] == "Ferrari") |
              (sg_clean2['BRAND'] == "Lamborghini") |
              (sg_clean2['BRAND'] == "McLaren") |
              (sg_clean2['BRAND'] == "Hummer"),
              'EXOTIC'] = 1 

#Labeling Car Brands into Ultra Luxury
sg_clean.loc[(sg_clean['BRAND'] == "Bentley") | 
              (sg_clean['BRAND'] == "Land Rover") |
              (sg_clean['BRAND'] == "Maserati") |
              (sg_clean['BRAND'] == "Porsche") |
              (sg_clean['BRAND'] == "Rolls-Royce"),
              'ULTRA_LUXURY'] = 1 


# Labelling Car Brands into Luxury
sg_clean.loc[(sg_clean['BRAND'] == "Audi") | 
              (sg_clean['BRAND'] == "BMW") |
              (sg_clean['BRAND'] == "Jeep") |
              (sg_clean['BRAND'] == "Lexus") |
              (sg_clean['BRAND'] == "Lotus") |
              (sg_clean['BRAND'] == "Mercedes-Benz") |
              (sg_clean['BRAND'] == "Volvo") |
              (sg_clean['BRAND'] == "Peugeot"), 
              "LUXURY"] = 1 


# Labelling Car Brands into Mid-Level
sg_clean.loc[(sg_clean['BRAND'] == "Infiniti") |
              (sg_clean['BRAND'] == "MINI") |
              (sg_clean['BRAND'] == "Volkswagen") |
              (sg_clean['BRAND'] == "Renault") |
              (sg_clean['BRAND'] == "Peugeot"), 
              "MID_LEVEL"] = 1

# Labelling Car Brands into Economy

sg_clean.loc[(sg_clean['BRAND'] == "Chevrolet") | 
              (sg_clean['BRAND'] == "Citroen") |
              (sg_clean['BRAND'] == "Ford") |
              (sg_clean['BRAND'] == "Honda") |
              (sg_clean['BRAND'] == "Hyundai") |
              (sg_clean['BRAND'] == "Kia") |
              (sg_clean['BRAND'] == "Mazda") |
              (sg_clean['BRAND'] == "Mitsubishi") |
              (sg_clean['BRAND'] == "Nissan") |
              (sg_clean['BRAND'] == "Suzuki") |
              (sg_clean['BRAND'] == "Toyota"),
              "ECONOMY"] = 1

#Labeling Car brands into budget 




# Changing Uncommon Car brands to "Others"
sg_clean.loc[(sg_clean['BRAND'] == 'Opel') |
                  (sg_clean['BRAND'] == 'Ssangyong') |
                  (sg_clean['BRAND'] == 'Proton') |
                  (sg_clean['BRAND'] == 'Daihatsu') |
                  (sg_clean['BRAND'] == 'Fiat') |
                  (sg_clean['BRAND'] == 'Alfa Romeo') |
                  (sg_clean['BRAND'] == 'Skoda') |
                  (sg_clean['BRAND'] == 'Hummer')|
                  (sg_clean['BRAND'] == 'Aston Martin')|
                  (sg_clean['BRAND'] == 'Lotus')|
                  (sg_clean['BRAND'] == 'Ford')|
                  (sg_clean['BRAND'] == 'Jeep'), 
                  'BRAND'] = "Others"


print(sg_clean['BRAND'].value_counts())
print(len(sg_clean['BRAND'].value_counts()))

Toyota           405
Mercedes-Benz    374
Honda            309
BMW              286
Mazda            139
Audi             127
Nissan           127
Volkswagen       107
Kia               78
Hyundai           77
Volvo             63
Mitsubishi        58
Subaru            56
Porsche           51
Lexus             49
MINI              40
Suzuki            33
Others            32
Jaguar            22
Citroen           22
Renault           19
Chevrolet         19
Maserati          18
Land Rover        16
Infiniti          14
Peugeot           13
Ferrari           11
Lamborghini        6
Bentley            6
McLaren            5
Rolls-Royce        2
Name: BRAND, dtype: int64
31